In [2]:
5 + 6

11

In [3]:
'5'+'6'

'56'

In [7]:
int(5.23) + int(6.1)

11

In [8]:
int(5.23) + 6.1

11.1

In [9]:
'she said, I don\'t like tomato'

"she said, I don't like tomato"

In [10]:
print('she said, I don\'t like tomato')

she said, I don't like tomato

In [15]:
"Hello"+ " Computer" + ', How are you?'

'Hello Computer, How are you?'

In [17]:
'Hello maa\'m' + " this will cost you " + str(6) + 'rs'

"Hello maa'm this will cost you 6rs"

In [24]:
"hello rishabh, I love you".split(',')[-1]

' I love you'

In [31]:
print('hi rishabh' + ";I love you, a lot".split(',')[0] + ' so very much <3 : a lot lot'.split(':')[0])

hi rishabh;I love you so very much <3

In [36]:
'Aa' == 'AA'

False

In [37]:
'Aa' == 'aa'

False

In [38]:
'Aa' == 'Aa'

True

In [42]:
str(False) == str(False)

True

In [70]:
list_ = list([1,2,3,4,'megha'])

In [71]:
print(list_[-1])

megha

In [72]:
list_.pop(0)

1

In [73]:
list_.append('naina')

In [74]:
list_.insert(0,'sharma')

In [75]:
list_

['sharma', 2, 3, 4, 'megha', 'naina']

In [76]:
list_.remove(2)

In [77]:
list_

['sharma', 3, 4, 'megha', 'naina']

In [82]:
{'name':'rishabh','age': 27, 'hobby':'gyming'}

{'name': 'rishabh', 'age': 27, 'hobby': 'gyming'}

In [90]:
print({'name':'rishabh','age': 27, 'hobby':'gyming'}['name'],['age'],['hobby'])

rishabh ['age'] ['hobby']

In [91]:
greetings = 'hello world!'

In [92]:
greetings = greetings.split(' ')[0]

In [93]:
greetings

'hello'

In [94]:
print(greetings + 'hello')

hellohello

In [95]:
#!/usr/bin/env python
# coding: utf-8

# # Python Fundamentals

# ### Print in Python

# In[11]:


print('Hello World')


# In[12]:


## Single Line Comment - comment in python
## Multi -Line Comment

"""
This is a comment
written in
more than just one line
"""
print('hello')


# In[16]:


# Program to print output in a program
salary = 7000 ##variable in python is called an identifier
print("Total Salary is salary")
print("Total Salary is : ",salary)


# In[23]:


#Program to use "end" argument | "end" helps to print multiple argument in a single line and 
#cause curson to remain in the same line
print('Welcome',end=' ')
print('to',end=' ')
print('Python',end=' ')


# In[30]:


#Program to show the use of "sep" argument
# The print function use a keyword "sep" to specify the string use to insert b/w items.
var1, var2, var3 = 100, 200, 300
#without sep
print(var1, var2, var3)
#with sep ","
print(var1, var2, var3, sep=',')


# ### Input in Python

# In[31]:


# By Default input function helps to take the string data from the users.
# However int() and float() can be used along the input function if user want to take only the int and float.
# eval() is commonly used function that defines the type of input according to the value entered.
# type() function is used to identify the datatype.


# In[33]:


# input function
num = input("Enter the num : ") #by default input takes string
print("the number is ",num," and the type is ",type(num))


# In[34]:


# input function with int
num = int(input("Enter the number:")) #int give a whole number
print("The number is ",num,"and the type is ",type(num))


# In[35]:


# input function with float
num = float(input("Enter the number:"))#float give a decimal no with precison 1
print("The number is ",num,"and the type is ",type(num))


# In[39]:


# input with eval
# eval function considers the datatype according to the input provided by the user.
var1 = eval(input("enter the value of the first variable :"))
print('Var1=',var1,"Type =", type(var1))

var2 = eval(input("enter the value of the Second variable :"))
print('Var2=',var2,"Type =", type(var2))

var3 = eval(input("enter the value of the third variable :"))
print('Var3=',var3,"Type =", type(var3))


# ### Accepting multiple inputs by the users

# In[41]:


# Program to ask multiple inputs by the users
a,b,c = eval(input("Enter the three number:"))
print(a,"*",b,"*",c,"=",a*b*c)


# In[ ]:

''

In [1]:
len('megha')

5

In [2]:
rishabh = ['megha','naina','thappa','sharma']

In [5]:
len(rishabh)

4

In [9]:
len([1,2,3,4,5,5])

6

In [13]:
sorted([1,3,5,654,3,21,33,3,2])

[1, 2, 3, 3, 3, 5, 21, 33, 654]

In [14]:
sorted(rishabh)

['megha', 'naina', 'sharma', 'thappa']

In [2]:
number = 1 
secondnumber = 2

In [3]:
print(number * secondnumber + number * secondnumber)

4

In [4]:
check = True

In [5]:
int('megha')

ValueError: invalid literal for int() with base 10: 'megha'

In [6]:
int(5.98)

5

In [7]:
len('megha sharma')

12

In [8]:
import numpy as np

In [9]:
value = [90273,1233,133,4,5,2,8,11,2,4,5,6,7,8,0]

In [10]:
value

[90273, 1233, 133, 4, 5, 2, 8, 11, 2, 4, 5, 6, 7, 8, 0]

In [14]:
print(sorted(value))

[0, 2, 2, 4, 4, 5, 5, 6, 7, 8, 8, 11, 133, 1233, 90273]

In [16]:
sorted(["4","m","E","G",'2','1.2','s','H'])

['1.2', '2', '4', 'E', 'G', 'H', 'm', 's']

In [17]:
def my_function():
    print("My name is megha")
    print('I am learning Python')
    print('trying to make a function')

In [19]:
my_function()

My name is megha
I am learning Python
trying to make a function

In [20]:
def new_function(datapoint2,datapoint1):
    print(datapoint1)
    print(datapoint2)

In [21]:
new_function("megha","naina")

naina
megha